<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340297950709-01h8a12g934c6si8dpdnmuusro0tt3f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340297950709-01h8a12g934c6si8dpdnmuusro0tt3f0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>340297950709-q6cjdbdrotnb9l40594rb9osqskc70se.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDw30g_ZTVbvrKWRljkvg3h2TIspwU52vA</string>
	<key>GCM_SENDER_ID</key>
	<string>340297950709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>florian.timeTrackerFlutterCourse</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-flutter-cou-dbddd</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-flutter-cou-dbddd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340297950709:ios:531e09e4631764e415acbc</string>
</dict>
</plist>